.title {
    padding-left: 6rem;
}

.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.leftPart {
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 5rem;
}

.searchPart {
    margin-right: 10px;
}

.addButtonPart {
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 6rem;
}

@media (min-width: 1281px) {
    .title {
        padding-left: 27rem;
    }

    .leftPart {
        padding-left: 26rem;
    }

    .searchPart {
        margin-right: 30px;
    }

    .addButtonPart {
        padding-right: 25rem;
    }
}