.header {
    display: flex;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: var(--color-silver);
    width: 100%;
    height: 91px;
    align-items: center;
    position: fixed;
}

.logo {
    height: 70px;
    padding-left: 80px;
    transition: transform 0.3s;
}

.logo:hover {
    cursor: pointer;
    transform: scale(1.1);
}